@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.current {
    padding-left: 1rem;
    padding-right: 1rem;
    color: green;
    font-size: 2.2rem;
    text-decoration: none;
    color: #bdbb26;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.general {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.2rem;
    text-decoration: none;
    color: #cc241d;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.content {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3rem;
    color: #83a59d;
}
body {
    background-color: #282828;
}
a {
    color: #458588;
    transition: 0.1s;
}
#kqzx {
    text-decoration: none;
    color: #bdbb26;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    float: left;
    font-size: 3rem;
    padding-left: 0.5rem;
}
.header {
    float: right;
    padding-top: 0.5rem;
}
.title {
    padding-bottom: 5rem;
    padding-top: 0.5rem;
}
#latestblog {
    background-color: #32302f;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    padding-top: 0.3rem;
    border-radius: 20px;
}
.title1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}